body {
    background: #101018;
}

header {
    background-color: #101018;
}

.border-top {
    border: none !important;
}

.bg-block-search-header {
    background: #101018 !important;
}



input.form-control.search_input {
    border: 2px solid #FFFFFF !important;
    background: #101018;
    color: #FFFFFF;
}

input.form-control.search_input:hover {
    border: 2px solid #FFFFFF !important;
}


.wrapper-button-search {
    background: #FF9600;
    border: 1px solid #FFFFFF;
    outline: 1px solid #FFFFFF;
    border-bottom-right-radius: 10%;
    border-top-right-radius: 10%;
}

label#label25 > div,
label#label25 > div:before,
label#label25 > div:after {
    background: #FFFFFF;
}

a {
    color: #FFFFFF;
}

.menu-left {
    background-color: #101018;
}


.site-footer {
    background: #101018;
    margin-top: 30px;
}

.top_text {
    font-size: 22px;
}

.black_friday_wrapper_div_cats {
    margin-top: 90px;
}

.black_friday_div_cats {
    min-height: 120px;
    flex-basis: 50%;
    margin-bottom: 63px;

}

.black_friday_bg_cats {
    background-color: #474747;
    min-height: 119px;
    min-width: 119px;
    border-radius: 50%;
}

.black_friday_div_cats:hover .black_friday_bg_cats {
    background-color: #FFC930;
}

.black_friday_img_cat_1 {
    height: 119px;
    min-height: 119px;
    width: 62px;
    min-width: 62px;
    top: -7%;
}

.black_friday_img_cat_2 {
    top: 15%;
    min-width: 133px;
    min-height: 85px;
    width: 133px;
    height: 85px;
    transform: rotate(12deg);
}

.black_friday_img_cat_3 {
    width: 88px;
    height: 111px;
    min-width: 88px;
    min-height: 111px;
}

.black_friday_img_cat_4 {
    width: 125px;
    height: 97px;
    min-width: 125px;
    min-height: 97px;
}

.black_friday_img_cat_5 {
    width: 85px;
    height: 98px;
    min-width: 85px;
    min-height: 98px;
    top: 25%;
}

.black_friday_img_cat_6 {
    min-width: 79px;
    min-height: 113px;
    width: 79px;
    height: 113px;
}

.black_friday_img_cat_7 {
    width: 121px;
    height: 86px;
    min-width: 121px;
    min-height: 86px;
}

.black_friday_img_cat_8 {
    width: 105px;
    height: 118px;
    min-width: 105px;
    min-height: 118px;
}

.black_friday_img_cat_9 {
    width: 71px;
    height: 123px;
    min-width: 71px;
    min-height: 123px;
}

.black_friday_img_cat_10 {
    width: 52px;
    height: 125px;
    min-width: 52px;
    min-height: 125px;
}

.black_friday_img_cat_11 {
    width: 55px;
    height: 117px;
    min-width: 55px;
    min-height: 117px;
}

.black_friday_title_cats {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
}

.black_friday_notification_title {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;
    color: #ffffff;
}


@media (min-width: 576px) {
    .black_friday_div_cats {
        flex-basis: 50%;
    }

}

@media (min-width: 768px) {

    .black_friday_div_cats {
        max-height: 250px;
    }

    .black_friday_bg_cats {
        min-height: 180px;
        min-width: 180px;
    }

    .black_friday_img_cat_1 {
        width: 95px;
        height: 180px;
        min-width: 95px;
        min-height: 180px;
        max-width: 95px;
        max-height: 180px;
        top: -7%;

    }

    .black_friday_img_cat_2 {
        width: 202px;
        height: 129px;
        min-width: 202px;
        min-height: 129px;
        transform: rotate(12deg);
        top: 15%;
    }

    .black_friday_img_cat_3 {
        width: 134px;
        height: 168px;
        min-width: 134px;
        min-height: 168px;
    }

    .black_friday_img_cat_4 {
        width: 239px;
        height: 186px;
        min-width: 239px;
        min-height: 186px;
    }

    .black_friday_img_cat_5 {
        width: 129px;
        height: 149px;
        min-width: 129px;
        min-height: 149px;
    }

    .black_friday_img_cat_6 {
        width: 120px;
        height: 172px;
        min-width: 120px;
        min-height: 172px;
    }

    .black_friday_img_cat_7 {
        width: 184px;
        height: 130px;
        min-width: 184px;
        min-height: 130px;
    }

    .black_friday_img_cat_8 {
        width: 160px;
        height: 180px;
        min-width: 160px;
        min-height: 180px;
    }

    .black_friday_img_cat_9 {
        width: 108px;
        height: 186px;
        min-width: 108px;
        min-height: 186px;
    }

    .black_friday_img_cat_10 {
        width: 79px;
        height: 189px;
        min-width: 79px;
        min-height: 189px;
    }

    .black_friday_img_cat_11 {
        width: 91px;
        height: 191px;
        min-width: 91px;
        min-height: 191px;
    }

}

@media (min-width: 992px) {
    .black_friday_div_cats {
        height: 310px;
        flex: 1 285px;
        max-width: 285px;
        margin-bottom: 63px;

    }

    .black_friday_bg_cats {
        min-height: 180px;
        min-width: 180px;
    }

    .black_friday_img_cat_2 {
        width: 202px;
        height: 129px;
        transform: rotate(12deg);
    }
}

@media (min-width: 1200px) {
    .top_text {
        font-size: 36px;
    }

    .black_friday_div_cats {
        height: 310px;
        flex: 1 285px;
        max-width: 285px;
        margin-bottom: 63px;

    }

    .black_friday_bg_cats {
        background-color: #474747;
        min-height: 180px;
        min-width: 180px;
        border-radius: 50%;
    }

}